.adding_btn {
    cursor: pointer;
    font-size: 1.5em;
}

.adding_btn:hover {
    font-weight: 1000;
}

.beer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 32%;
    gap: 1em;
    padding: 1em 1.5em;
    background: lightgray;
}